<div class="container profile-content">
  <div class="profile-full-card-header flex" style="background: #183153;">
    <div class="profile-informations">
      <div class="profile-image">
        <img src="../../../assets/img/56437415.jpeg" alt="" width="210px" height="auto">
      </div>
      <div class="profile-name" style="color: white;">
        <h2>Matheus Dias Barbosa</h2>
        <h3>Frontend Developer</h3>
        <h4>(71) 99225-2762</h4>
      </div>
    </div>
    <div class="profile-social-media" style="color: white;">
      <div class="instagram flex mt-20">
        <i class="fab fa-linkedin-in"></i>
        <a href="https://www.instagram.com/mdias0896/" 
        target="_blank" class="profile-social-media-link"> instagram.com/mdias0896/</a>
      </div>
      <div class="git-hub flex mt-20">
        <i class="fab fa-github-alt"></i>
        <a href="https://github.com/mdias086991" 
        target="_blank" class="profile-social-media-link">github.com/mdias086991</a>
      </div>
    </div>
  </div>

</div>
