.profile-full-card-header {
    font-family: 'Lato', sans-serif;
}
.flex {
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: center;
}
.profile-social-media-link {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.profile-social-media-link:hover {
    color: #a8a8a8
}

.mt-20{
    margin-top: 20px;
}

.profile-content .profile-full-card-header{
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.profile-informations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.profile-image {
    margin-right: 10px;
}
.profile-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23%;
}
.fab, .fas {
    font-size: 30px;
    margin-right: 18px;
}


@media (max-width: 620px) {
    .profile-social-media  {
        width: 100%;
        padding: 20px;
    }
}   

@media (max-width: 472px) {
    .profile-informations .profile-name {
        text-align: center;
    }
}

